{% extends 'base.html' %}
{% load static %}
{% block title %} {{quiz.name}} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stylesheets/time_quiz_list.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/bootstrap.min.css' %}">
{% endblock %}

{% block body %}

<!-- cards -->
<div class="container mt-4" id="time_quiz_list">
  <div class="container mx-auto mt-2">
    <div class="row justify-content-center">

      {% for time_quiz in time_quiz_list %}
      <div class="col-md-4 mr-md-4">
        <div class="card" style="width: 21rem;">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{time_quiz.name}}</h5>
            <br>
            <p class="card-text">{{time_quiz.desc}}</p>
            <br>
            <button id="btn" style="justify-content: center;" class="attempt btn mr-2 modal-button"><a href="{{ time_quiz.id }}">Attempt Quiz</a></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}

{% endblock %}