{% extends 'base.html' %}
{% load static %}
{% block title %} {{quiz.name}} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stylesheets/time_quiz_list.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/bootstrap.min.css' %}">
{% endblock %}

{% block body %}

<!-- cards -->
<div class="container mt-4" id="time_quiz_list">
    <div class="container mx-auto mt-2">
      <div class="row">
  
        {% for i in time_quiz_list %}
        <div class="col-md-4">
          <div class="card" style="width: 21rem;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">{{i.name}}</h5>
              <br>
              <p class="card-text">{{i.desc}}</p>
              <br>
              <button data-bs-target="#exampleModal" data-bs-toggle="modal" data-time="{{i.time}}"
                data-questions="{{i.number_of_questions}}" data-name="{{i.name}}" data-id="{{i.id}}" id="btn"
                style="justify-content: center;" class="attempt btn mr-2 modal-button"><i class="fas fa-link"></i>Attempt
                Quiz</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}


{% block javascript %}

{% endblock %}